{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "exclude": [
          "transform-es2015-typeof-symbol"
        ],
        "targets": {
          "browsers": {
            "chrome": 28,
            "safari": 6,
            "firefox": 28,
            "opera": 32,
            "ie": 11
          }
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
